<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd4ThlzDJuhNh_V_9RS4yMytK25LzIko0</string>
	<key>GCM_SENDER_ID</key>
	<string>7055365635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharepeace.riseAlarm</string>
	<key>PROJECT_ID</key>
	<string>rise-alarm</string>
	<key>STORAGE_BUCKET</key>
	<string>rise-alarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7055365635:ios:e2094583ca139f97b46036</string>
</dict>
</plist>